.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    font-weight: 600;
}
h2{
    font-size: 60px;
    font-weight: 700;
}
#increment-btn{
    background-color: rgb(122, 56, 56);
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
}
#decrement-btn{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 50px;
}
#reset{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 50px;
}
#save{
    background-color: rgb(97, 52, 52);
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 20px 8px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 50px;
}
#pre-count{
    color: black;
    padding: 5px 5px;
    font-size: 30px;
}
